.no-display {
  display:none;
}

.pull-left {
  float:left;
}

.pull-right {
  float:right;
}

.scroll {
  overflow:scroll;
}

.of-hidden {
  overflow:hidden;
}

.border-box {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
