.topic-group {
  max-width:300px;
  text-align:center;
}

.topic-group-p {
  background-color:#f8f8fb;
  border-right: 1px solid #e2e2ff;
  border-left: 1px solid #e2e2ff;
  border-bottom:1px solid #e2e2ff;
  color: #1c75c5;

  transition: color .2s;

  &:hover {
    color:blue;
    cursor:pointer;
  }
}

.topic-group-p-first {
  border-top:1px solid #e2e2ff;
  border-radius:8px 8px 0 0;
}

.topic-group-p-last {
  border-radius: 0 0 8px 8px;
}
